import(dplyr)
import(Matrix)
import(ggplot2)
importFrom('stats','as.formula','var','pchisq')
importFrom('data.table','fread')
importFrom('utils','write.table')
importFrom('magrittr','%>%')
importFrom('rlang',':=')
#if(getRversion() >= "2.15.1")  utils::globalVariables(c('.','indi'))
export(get.anchor,get.breakpoints,get.la.aware.score,get.LACs,plot.features,read.binary)
